* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/************************/


/*creo 3 columnas iguales que floten uno al lado de otra*/
.colum {
  float: left;
  width: 33.3%;
  padding: 15px;
}

/*Limpiar floats despues de las columnas*/

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
    .colum {
      width: 100%;
    }
}

/*
ul.menu {  
  list-style-type: none;
  text-decoration: none;
  overflow: hidden; Esconder si hay overflow
  margin: 0; padding: 0;
  background-color:#333;
}

ul.menu li { float: left; }
ul.menu li a {
  color: white;
  display: block;
  width: 100px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.menu li a:hover:not(.active) {background-color: #111;}
ul.menu li a.active { background-color: #4CAF50; }
ul.menu li { border-right: 1px solid #bbb; }
ul.menu li:last-child { border-right: none; } 
pseudo-elementos 

/*/