<!DOCTYPE html>
<html>
    <head>
        <title>ABM Persona</title>
        <!--<link rel="icon" type="image/png" href="../../../favicon.png"/>-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">      
        <link rel="stylesheet" type="text/css" href="../css/estiloabm.css">
    </head>
    <body>
        <div id="confirmarEliminar"></div>
        <div id="buscar"></div>
        <div id="panelPrograma" class="">
            <div class="centrado cabecera"><h1>Datos personales</h1></div>
            <div class="panel-body">
                <form id="formPrograma">
                    <div class="row">
                        <div class="columna">
                            <span>Nroº</span>
                            <input id="nro" name="nro" type="text" class="" placeholder="Nro">
                            <!-- <button id="botonBuscarIdUsuario" type="button" class="botonBuscar">
                                <span>Buscar</span>
                            </button> -->
                        </div>                                
                        <!-- Columna 2 -->
                        <div class="columna">                                    
                            <span>Nombre</span>                                
                            <input id="nombre_usuario" name="nombre_usuario" type="text" class="" placeholder="Nombre" >
                        </div>   
                        <!--Apellido --> 
                        <div class="columna" >
                            <span>Apellido</span>
                            <input id="apellido" name="apellido" type="text" class="" placeholder="Apellido">
                        </div>                        
                    </div>
                    <!-- Fin fila 1 -->
                    <div class="row">
                        <div class="columna">
                            <span>Fecha de Nacimiento: </span>
                            <input style="width:37%;" id="fecha_nacimiento" name="password" type="Date" class="">
                        </div>
                    </div>
                                      
                </form>
            </div>
            <footer class="centrado">
                <button id="botonAgregar" type="button" class="botones">Agregar</button>
                <button id="botonModificar" type="button" class="botones">Modificar</button>
                <button id="BotonEliminar" type="button" class="botones" data-toggle="modal"
                        data-target="#confirmarEliminar">Eliminar</button>
                <button id="botonSalir" type="button" class="botones">Salir</button>
            </footer>            
        </div>
        
        <div class="centrado" style="background-color: #ccc" id="mensajes">Mensaje del Sistema.</div>
        
       <!-- <div class="modal fade" id="confirmarEliminar" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header centrado">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">
                                &times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Mensaje del Sistema</h4>
                    </div>
                    <div class="modal-footer centrado">
                        <button id="botonEliminarAlert" type="button" class="">Eliminar</button>
                        <button type="button" class="" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div> 
       -->
     
        
        <script>
           
        </script>

        </body>
        </html>
